    <nav class="navbar navbar-expand-lg">
        <a id="logo" class="navbar-brand" href="#">
            <i class="fa fa-dragon"></i>
        </a>
        <button class="navbar-toggler burger-menu" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbar-list login-btn search-bar" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div id="navbar-list" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle wheat-item wheat-link" href="#" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/calendar">Calendar</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/eventsTypes">Event Types</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/event/today">What happens today</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link wheat-item wheat-link" href="/performers">Performers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link wheat-item wheat-link" href="/company">Company</a>
                </li>
            </ul>
        </div>
        <a class="btn collapse navbar-collapse mt-lg-0 mt-2" id="login-btn" href="/login"><span
                style="margin-left: 6px;">Login</span></a>
    </nav>