.container {
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 123px;
}

.black-card {
    background-color: rgb(43, 41, 41);
}

.grey-card {
    background-color: rgb(56, 54, 54);
}

.card-link {
    color: rgb(248, 240, 226);
}

.card-link:hover {
    color: rgb(235, 157, 12);
}

.card-item {
    background-color: wheat;
}