.performer-img {
    border-radius: 50%;
    border: solid 4px wheat;
    width: 200px;
    height: 200px;
}

.row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.performer-name {
    color: rgb(190, 166, 120);
}

.title {
    color: rgb(190, 166, 120);
}

.performer-link {
    color: wheat;
}

.performer-link:hover {
    color: rgb(236, 178, 69);
}

.wrapper {
    background-color: black;
    border-radius: 25px;
    border: solid 4px wheat;
    width: 800px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
}

#title-row {
    padding-top: 20px;
    margin-top: 70px;
}