<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/eventsByType.css">
<title>Events By Type X</title>
</head>

<body>
    <%- include('includes/navbar.ejs') %>

    <nav class="crumb" aria-label="breadcrumb">
        <ol class="breadcrumb crumb">
            <li class="breadcrumb-item" aria-current="page"><a class="bc-item" href="/">Home</a></li>
            <li class="breadcrumb-item" aria-current="page"><a class="bc-item" href="/eventsTypes">Events' Types</a>
            </li>
            <li class="breadcrumb-item bc-active" aria-current="page" id="actual-breadcrumb">Events By Type X</li>
        </ol>
    </nav>

    <div class="col"></div>
    <div class="col">
        <div id="container" class="row justify-content-center">
        </div>
    </div>
    <div class="col"></div>
    

    <%- include('includes/footer.ejs') %>
    <script src="/js/script.js"></script>
    <script src="/js/eventsByType.js"></script>
</body>

</html>