<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/home.css">
<title>Home Page</title>
</head>

<body>
    <%- include('includes/navbar.ejs') %>

    <div class="embed-responsive embed-responsive-21by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0I3j2ybCOGs?autoplay=1&loop=1&autopause=0" allow=autoplay width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    
    <div class="embed-responsive embed-responsive-21by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0I3j2ybCOGs?autoplay=1&loop=1&autopause=0" allow=autoplay width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    
    <div class="embed-responsive embed-responsive-21by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0I3j2ybCOGs?autoplay=1&loop=1&autopause=0" allow=autoplay width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    
    <div class="embed-responsive embed-responsive-21by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0I3j2ybCOGs?autoplay=1&loop=1&autopause=0" allow=autoplay width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    
    <div class="embed-responsive embed-responsive-21by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0I3j2ybCOGs?autoplay=1&loop=1&autopause=0" allow=autoplay width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    
    <div class="embed-responsive embed-responsive-21by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0I3j2ybCOGs?autoplay=1&loop=1&autopause=0" allow=autoplay width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    
    <div class="embed-responsive embed-responsive-21by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0I3j2ybCOGs?autoplay=1&loop=1&autopause=0" allow=autoplay width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    
    <div class="embed-responsive embed-responsive-21by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0I3j2ybCOGs?autoplay=1&loop=1&autopause=0" allow=autoplay width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    
    <div class="embed-responsive embed-responsive-21by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0I3j2ybCOGs?autoplay=1&loop=1&autopause=0" allow=autoplay width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    

    <nav class="crumb" aria-label="breadcrumb">
        <ol class="breadcrumb crumb">
            <li class="breadcrumb-item bc-active" aria-current="page">Home</li>
        </ol>
    </nav>

    <img id="main-img" src="images/home.jpg" alt="really colorefull image">

    <div class="d-flex flex-row justify-content-center">
        <div id="main-txt">
            <h1 class="white home-img-text">Most Popular Festival In Miami!</h1>
            <h2 class="white home-img-text">Don't Miss It!</h2>
        </div>
    </div>

    <div class="container mt-5 home-bottom-container">
        <h1 class="display-4 text-center mt-5">Don't miss the 10th iteration of the most popular festival in Miami!</h1>
    </div>

    <%- include('includes/footer.ejs') %>
    <script src="/js/script.js"></script>
    <!--    <script src="/js/postTest.js"></script> -->
</body>

</html>