<%- include('includes/head.ejs') %>
    <title>Home Page</title>
</head>

<body>
    <%- include('includes/navbar.ejs') %>

    <nav class="crumb" aria-label="breadcrumb">
        <ol class="breadcrumb crumb">
            <li class="breadcrumb-item bc-active" aria-current="page">Home</li>
        </ol>
    </nav>

    <div class="container mt-5">
        <h1 class="display-3 text-center">Sometimes happens!</h1>
        <h1 class="display-4 text-center mt-5">Sometimes happens!</h1>
    </div>

    <%- include('includes/footer.ejs') %>
    <script src="/js/script.js"></script>
    <!-- <script src="/js/postTest.js"></script> -->
</body>

</html>