<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/performerGroup.css">
<title>All Performers</title>
</head>

<body>
    <%- include('includes/navbar.ejs') %>

    <nav class="crumb" aria-label="breadcrumb">
        <ol class="breadcrumb crumb">
            <li class="breadcrumb-item" aria-current="page">Home</li>
            <li class="breadcrumb-item bc-active" aria-current="page">All Performers</li>
        </ol>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="row centralized">
                    <h2>Single Artists</h2>
                </div>
                <div class="row">
                    <div class="wrapper content-left">
                        <img src="/images/HarryPotter.jpg" alt="First Artist">
                        <p>Name Surname</p>
                    </div>
                </div>
                <div class="row">
                    <div class="wrapper content-left">
                        <img src="/images/HarryPotter.jpg" alt="First Artist">
                        <p>Name Surname</p>
                    </div>
                </div>
                <div class="row">
                    <div class="wrapper content-left">
                        <img src="/images/HarryPotter.jpg" alt="First Artist">
                        <p>Name Surname</p>
                    </div>
                </div>
                <div class="row centralized">
                    <h2>Companies</h2>
                </div>
                <div class="row">
                    <div class="wrapper content-left">
                        <img src="/images/HarryPotter.jpg" alt="First Artist">
                        <p>Company Name</p>
                    </div>
                </div>
                <div class="row">
                    <div class="wrapper content-left">
                        <img src="/images/HarryPotter.jpg" alt="First Artist">
                        <p>Company Name</p>
                    </div>
                </div>
                <div class="row">
                    <div class="wrapper content-left">
                        <img src="/images/HarryPotter.jpg" alt="First Artist">
                        <p>Company Name</p>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <%- include('includes/footer.ejs') %>

</body>

</html>