<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/performerGroup.css">
<title id="title"></title>
</head>

<body>
    <%- include('includes/navbar.ejs') %>

    <nav class="crumb" aria-label="breadcrumb">
        <ol class="breadcrumb crumb">
            <li class="breadcrumb-item" aria-current="page"><a class="bc-item" href="#">Home</a></li>
            <li id="breadCrumbName" class="breadcrumb-item bc-active" aria-current="page"></li>
        </ol>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="d-flex flex-row justify-content-center">
                    <h1 id="h1Title" class="title"></h1>
                </div>
                <div id="performersContainer">
                    
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    <%- include('includes/footer.ejs') %>
    <script src="/js/script.js"></script>
    <script src="/js/performerGroup.js"></script>
</body>

</html>