<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/reservation.css">
<title>Reservation</title>
</head>

<body>
    <%- include('includes/navbar.ejs') %>
    <nav class="crumb" aria-label="breadcrumb">
        <ol class="breadcrumb crumb">
            <li class="breadcrumb-item" aria-current="page"><a class="bc-item" href="#">Home</a></li>
            <li class="breadcrumb-item bc-active" aria-current="page">Reservation Form</li>
        </ol>
    </nav>

    <div class="container contact-form">
        <form class="">
            <h3 class="wheat-line"><span class="wheat-line">Get Your Ticket Here!</span></h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="txtName" class="form-control" placeholder="First Name *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtEmail" class="form-control" placeholder="Last Name *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtPhone" class="form-control" placeholder="Email *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtPhone" class="form-control" placeholder="Age *" value="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="wheat-line">Select the event you want to attend</h4>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1" class="wheat-line">Event Type</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Seminar - Excursus About Magic</option>
                            <option>Artistic Exibithion - Derren Brown's Lost Hat</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" name="btnSubmit" class="btnContact" value="Book Event" />
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </form>
    </div>

    <%- include('includes/footer.ejs') %>

</body>

</html>